<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/core.css">
	
</head>
<body>

<div class="navbar container-liquid " id="nav-main">
    <div class="shadow" id="nav-shadow">
       <span class="nav-item"><a href="/">Avarice</a></span> 
       <span class="nav-item"><a href="/dashboard">Dashboard</a></span> 

       <span class="nav-item"><a href="/readers">Readers</a></span> 
   </div>
</div>	

<div class="sidebar" id="sidebar-main">
    <div class="shadow" id="sidebar-shadow">
        <span class="sidebar-item"><h3>Sidebar Item</h3></span>
    </div>
</div>